<container>
	<row class="collapse">
		<columns small="12" large="12">
			<center>
				<img src="https://i.postimg.cc/pLYV9K2s/mercer-header.png" />
				<img src="https://i.postimg.cc/cLmKpp81/mcpherson-newell.png" />
			</center>
		</columns>
	</row>
	<row>
		<columns small="12" large="12">
			<p class="text-center">
				<strong>
					McPherson Newell to prepare for work in activism, academia through Fulbright Award to England
				</strong>
			</p>
		</columns>
	</row>
	<row>
		<columns small="12" large="12">
			<p>
				McPherson Newell wants to incorporate disability practices into the field of engineering, and a
				Fulbright Graduate Study Award to England will help provide knowledge and experience to reach that
				aspiration ...
			</p>
		</columns>
	</row>
	<row>
		<columns small="12" large="12">
			<p>
				<a style="color: #f76800; font-weight: bold; text-decoration: underline" href="#">Read More></a>
			</p>
		</columns>
	</row>
	<hr />
	<row>
		<columns small="12" large="7" class="collapse">
			<h6 class="text-center" style="text-align: center; display: block; margin: 0; padding: 0; color: #f76800">
				<strong>TRENDING NOW</strong>
			</h6>
		</columns>

		<columns small="12" large="5" class="collapse">
			<h6 class="text-center" style="display: block; margin: 0; padding: 0; color: #f76800">
				<strong>LATEST NEWS</strong>
			</h6>
		</columns>
	</row>
	<hr />
	<row>
		<columns small="12" large="7" class="collapse">
			<img style="max-width: 700px" src="https://i.postimg.cc/CM3fkHg0/trending-now.jpg" />
		</columns>

		<columns small="12" large="5" class="collapse">
			<img style="max-width: 700px" src="https://i.postimg.cc/VvCmzCGB/latest-news.jpg" />
		</columns>
	</row>
</container>
